<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet">
    <title>{% block title %}Django на Хекслете{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <table>
            <tr>
                <td><h3><a href="/">Главная</a></h3></td>
                <td><h3><a href="{% url 'articles_index' %}">Статьи</a></h3></td>
                <td><h3><a href="/about">Об этом блоге</a></h3></td>
                <td><h3><a href="{% url 'article_create' %}">Создать статью</a></h3></td>
                <td>
                    <form action="/article" method="get">
                        <input type="search" name="q" value="" />
                        <input type="submit" value="Поиск" />
                    </form>
                </td>
            </tr>
        </table>
    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>